<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/bootstrap.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/style.css') }}>
    <title>Routes</title>
</head>
<body>

    <header class="header">
        <a href="/products">Productos</a> 
        {% if category %}
        >>
        <a href="/products/{{category}}">{{category.capitalize()}}</a> 
        {% endif %}
        {% if id > 0 %}
        >>
        <a href="/products/{{category}}/{{id}}"> {{ id }}</a>
        {% endif %}
        <hr>
        <h3>Productos {% if id > 0 %}- {{ id }}{% endif %}</h3>
    </header>

    <div class="container-fluid">
    {% if category == "" %}
    <table border="1" class="mx-auto">
        <thead>
            <th>Dato</th>
        </thead>
        <tbody>
            {% for i in range(1, 11) %}
            <tr>
                <td>
                    <a href="#"><h4>Productos - {{ i }}</h4></a> 
                    <h5><strong>Descripción</strong></h5>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sed?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sed?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sed?</p>
                    </div>
                    <img class="img" src="./static/images/{{ i }}.png" alt="imagen-{{ i }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>

</body>
</html>