<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/bootstrap.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='/css/style.css') }}>
    <title>Routes</title>
</head>
<body>
    <h2>{{ category.upper() }}</h2>
    <a href="/products/{{category}}/{{id}}">Products {% if category %} >> {{ category }} {% endif %} {% if id > 0 %} >> {{ id }}{% endif %}</a>
    <hr>
    <a href="/products">Productos</a> >>
    {% if category %}
    <a href="/products/{{category}}">{{category.capitalize()}}</a> >>
    {% endif %}
    <a href="/products/{{category}}/{{id}}"> {% if id > 0 %}{{ id }}{% endif %}</a>
    <hr>
    <h3>Productos {% if id > 0 %}- {{ id }}{% endif %}</h3>
    <hr>

    <div id="container">
    {% if category == "" %}
    <table border="1" class="mx-auto">
        <thead>
            <th>Dato</th>
        </thead>
        <tbody>
            {% for i in range(1, 11) %}
            <tr>
                <td>
                    <a href="#"><h4>Productos - {{ i }}</h4></a> 
                    <p><strong>Descripción</strong></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sed?</p>
                    <img src="./static/images/{{ i }}.png" width="100" alt="pic">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>

</body>
</html>