html, body {
    margin: 0;
}
body{
    padding: 0px;
}
table{
    border-collapse: separate;
    border-spacing: 10px;
}

tbody, td, tfoot, tr {
    border-width: 1!important;
    border: 1px solid black;
    padding: 10px;
}
thead, th, thead > tr {
    text-align: center;
    font-size: 1.5rem;
    border-width: 0!important;
    padding: 5px;
}

.header{
    padding: 5px 10px;
    background-color:burlywood;
}
.container-fluid {
    padding: 10px 0;
    background-color: bisque;
}
.header a {
    color: whitesmoke;
}
body a {
    color: brown;
}
td > div {
    display: inline-block;
    width: 49%;
}
.img {
    display: inline-block;
    width: 49%;
}