<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
</head>
<body>
    <h1>Documentación de Flask</h1>
        <h2>Documentación Oficial</h2>
        <ul>
            <li><a href="#"></a>Flask</li>
            <li><a href="#"></a>Jinja 2</li>
        </ul>
        <h2>Usuarios en el servidor de desarrollo</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <h2>Pasos para clonar el repositorio</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <h2>Pasos para ejecutar servidor Flask</h2>
        <p>Lorem ipsum dolor sit amet.</p>

</body>
</html>